# Don't include any supporting files for setting up the dev environment.
# Especially the data/ directory, which could be _huge_ and not needed for
# creating any Docker images.
/data
/services
/script
/.*
